@import 'tailwindcss';


#AboutMe-Section{
    
    min-height: 100vh;
    margin-top: 300px;
    margin-bottom: 300px;
    @apply grid lg:grid-cols-[1.5fr_1fr] items-center text-white;
}

.about-text-section{
     @apply lg:pl-10 pl-8 pr-8 justify-center 
}
.about-text-section  p:nth-child(1){
      @apply  2xl:text-3xl 
}
.about-text-section  p:nth-child(2){
     @apply  2xl:text-7xl text-4xl 
}
.about-cards-section{

}

.about-p {
  display: inline-block;
  will-change: clip-path, opacity, transform;
  overflow: hidden;
}