@import 'tailwindcss';


#AboutMe-Section{
    min-height: 100vh;
    margin-top: 300px;
    margin-bottom: 300px;
    @apply   text-white;
}

.about-text-section{
 
  min-height: 100vh;
     @apply lg:pl-10 pl-8 pr-8 justify-center overflow-hidden  
}
.about-text-section  p:nth-child(1){
      @apply  2xl:text-3xl md:text-2xl
}
.about-text-section  p:nth-child(2){
     @apply  2xl:text-[100px] text-4xl md:text-[80px]
}
.about-cards-section{

}

.about-p {
  display: inline-block;
  will-change: clip-path, opacity, transform;
  overflow: hidden;
}

.text-wrapper{
    @apply border
}


.about-p span {
  display: inline-block;
}
.about-img-section img{
 @apply rounded-4xl lg:w-[70vw]
}
.about-img-section{
  @apply mt-50 flex items-center flex-col space-y-50
}




