@import 'tailwindcss';
.navbar{
  @apply sticky backdrop-blur-lg z-50 pb-5
}
nav{
 @apply grid grid-cols-2 pt-8
  lg:mr-30 lg:ml-30
  mr-5 ml-5; 
  animation: slide-down 1s ease-out;
 ;
}
nav ul{
 @apply hidden xl:flex
}



.nav-text:hover{
   border: 2px  solid  #9951ff;
   border-width: 0px 0px 3px 0px;
}
