@import "tailwindcss";
@import "./animations.css";
@import "./fonts.css";

.pill{
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.144);
  @apply bg-[#0d0e0daa] py-2 px-10 lg:py-3 xl:px-13 backdrop-blur-[2px] rounded-3xl border border-[#6900ff] z-50
}
.pill p{
  @apply text-xs text-[white] w-full  2xl:text-lg
}
.p1{
 @apply  right-0 md:right-42 top-42 md:top-64 2xl:right-96;
 	-webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both,  float 5s ease-in-out infinite 1.5s;
	        animation: slide-in-bottom 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both,  float 5s ease-in-out infinite 1.5s;
          
}
.p2{
 @apply  left-0 md:left-42 top-56 md:top-62  2xl:left-96;
 	-webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both,  float 5s ease-in-out infinite 1.5s;
	        animation: slide-in-bottom 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both,  float 5s ease-in-out infinite 1.5s;
}
.Hero-Section{
  @apply grid lg:h-[100vh] h-[100vh]
     justify-center items-center
    lg:mr-30 lg:ml-30
    mr-5 ml-5
   
   
}
.hero-info{
  @apply col-span-1
   text-center
   md:text-center
  mb-[20vh] lg:mb-[0vh]
 
}

.hero-info p:nth-child(1){
  @apply z-10 text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl mt-1 mb-1 lg:mb-2 text-[#ffffffcc]; 
  opacity: 0;
   -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.hero-info p:nth-child(2){
  
  @apply overflow-hidden lg:leading-tight  inline-block text-white opacity-80 lg:text-2xl text-lg  md:text-2xl  mt-1 mb-1 lg:mb-5 md:ml-23 md:mr-23 2xl:ml-48 2xl:mr-48 lg:text-justify lg:[text-align-last:center]; 
 
     -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      animation-delay: .5s;
}
.cv-button{
  transition: 500ms ease;
  border-color: #6900ff;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.144);
  /* box-shadow: 0px 0px 15px #9951ff; */
  @apply z-10 p-3 pl-8 pr-8 lg:p-5 lg:pl-15 lg:pr-15  text-sm 2xl:text-lg xl:text-sm  font-bold rounded-[10px] lg:mt-2 lg:mb-3 border-2  opacity-60 bg-[#0d0e0d]  lg:w-auto ;
  animation: fade-in-right 1s ease-in-out forwards;
   
}
.cv-button:hover{
  transition: 800ms ease;
  @apply bg-[#6900ff]
}
.cv-button2{
  transition: 500ms ease;
  border-color: #6900ff;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.144);
  /* box-shadow: 0px 0px 15px #9951ff; */
  @apply z-10 p-3 pl-8 pr-8 lg:p-4 lg:pl-15 lg:pr-15  text-sm 2xl:text-lg xl:text-sm  font-bold rounded-[10px] lg:mt-2 lg:mb-3 border-2 bg-[#6900ff] opacity-60   lg:w-auto ;
  animation: fade-in-right 1s ease-in-out forwards;
  
}
.cv-button2:hover{
  transition: 800ms ease;
  @apply bg-[#0d0e0d]
}
.social-links{
  @apply text-center flex justify-around lg:block space-x-16
}
.social-links a{
background: linear-gradient(267deg, #6900ff 0%, #9951ff 100%);
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent; 
background-clip: text; 
color: transparent; 
  animation: fade-in-up 1s ease-in-out forwards;
  animation-delay: 1s;
  background-color: rgba(33, 33, 33, 0.346);
  border-color: #202020;
  @apply 
  p-3
  rounded-2xl
  border
  opacity-0
}

#profile-picture{
  opacity: 0;
 animation: fade-in 1s ease-in-out forwards;
 @apply mb-30
 
}





