@import "tailwindcss";

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #0d0e0d; 
 
  background-size: 50px 50px;
  background-position: center;
  @apply 2xl:mr-[12%] 2xl:ml-[12%]  xl:mr-[10%] xl:ml-[10%]
}

body{
  
}

body, html{
  max-width: 100%;
}

