@import "tailwindcss";

body {
  margin: 0;
  height: 100vh;
  background-color: #0f0f1a; 
  background-image: 
    linear-gradient(rgba(148, 8, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(125, 3, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: center;
  overflow-x: hidden;
}

