@import 'tailwindcss';

/* project css */
.project-section{
@apply mr-5 ml-5
    lg:mr-45 lg:ml-45
}
.project-card-section{
    @apply mt-[20px] grid xl:grid-cols-1 place-items-center space-y-30
}

.project-card{
    @apply bg-[#111111] grid lg:grid-cols-[1fr_1.2fr]
    2xl:h-[525px] 2xl:w-[1179px] 
    xl:h-[470px] xl:w-[1050px]
    lg:h-[400px] lg:w-[800px]
    mt-10 rounded-[10px]
    
}

.project-card-section img{
    @apply  rounded-[10px] xl:p-10 p-6
}


.project-card-info-container{
    @apply lg:flex items-center
}
.project-card-info{
    @apply xl:p-10 p-6 inline-block
}

.project-card-info p:nth-child(1){
    @apply xl:text-6xl block text-4xl 
}

.project-card-info p:nth-child(2){
    @apply 2xl:text-lg text-white opacity-60 pt-5 block
}

.project-pill{
    @apply mt-3  border-b border-[#ffffff31] pb-3 lg:pb-10 lg:space-y-3 lg:space-x-3 space-x-2 space-y-2
}

.project-pill div{  
    font-family: Inter-Reg;
    @apply py-2 px-4 lg:py-2 lg:px-6 border-[0.5px] border-[#3e3e3e]  inline-block rounded-[30px] text-[white] opacity-60 text-[10px] md:text-[16px];
}

.project-bottom{
    @apply pt-3 lg:pt-5 flex items-end text-balance justify-between pb-3
}
.project-bottom a{
    @apply cursor-pointer
}
.green-dot{
    @apply mt-7.5;
    box-shadow: 0px 0px 10px 1px green;
}
.green-dot1{
    @apply mt-7.5;
    box-shadow: 0px 0px 10px 1px red;
}
.project-btn{
    font-family: "Inter-Bold";
    @apply p-3 px-10 rounded-[10px] text-white -mb-2 text-nowrap
}

.project-status{
    @apply flex
}
