@import 'tailwindcss';
@import './gradients.css';
@import './fonts.css';
.TechStack-Section{
    box-shadow: 0px 0px 400px #0d0e0d, 0px 0px 400px #0d0e0d, 0px 0px 400px #0d0e0d;
    @apply min-h-[100vh] w-[100vw] bg-[#0d0e0d]  
    text-center
    overflow-x-hidden

}

.ts-header{
@apply lg:text-6xl text-5xl pt-[10vh] text-white ;
}
.ts-subheader{
    @apply text-[#ffffff82] mt-5 mb-1 lg:text-lg text-sm pl-5 pr-5;
}
.p-animation{
    opacity: 0;
    transform:translateX(-100px);
    transition: 500ms ease;
}
.p2-animation{
    opacity: 0;
    transform:translateX(-100px);
    transition: 500ms ease;
}
.p-animation.show{
    opacity: 1;
    transform:translateX(0px);
}
.p2-animation.show{
    opacity: 1;
    transform:translateX(0px);
}
.card-section{
    @apply grid 2xl:grid-cols-4 md:grid-cols-2 xl:grid-cols-3 grid-cols-1 place-items-center justify-center mt-10 mb-20
}
.card{
    
    opacity: 0;
    transform: translateY(100px);
    cursor:pointer;
margin: 20px;
 width: 350px;
 height: 100px;
 border-radius: 30px;
 background: #1e1e1ed0;
 box-shadow: 5px 5px #000000;
 transition: 300ms ease;
 @apply grid grid-cols-3 col-span-1 
}
.card.show{
    opacity: 1;
    transition: 800ms ease;
    transform: translateY(0px);
}
.card-two {
margin: 20px;
 width: 350px;
 height: 100px;
 border-radius: 30px;
 background: #1e1e1ed0;
 box-shadow: 5px 5px #000000;
 @apply grid grid-cols-3 col-span-1
}.card-three  {
margin: 20px;
 width: 350px;
 height: 100px;
 border-radius: 30px;
 background: #1e1e1ed0;
 box-shadow: 5px 5px #000000;
 @apply grid grid-cols-3 col-span-1
}

.react{
    @apply xl:col-span-4 md:col-span-2
}
.card-container-img{
 width: 90px;
 height: 100px;
  @apply flex items-center justify-center ml-5 col-span-1
}
.card-container-text{
 width: 260px;
 height: 100px;
  @apply flex items-center text-left ml-5 col-span-2   
}
.card-container-text h1{
     display: block;
@apply text-2xl 
}
.card-container-text span{
      display: block;
@apply text-sm text-[#f9f8f8bb]
}
.TechStack-Section img{
    width: 70px;
    height: auto;
}

.skills-card-section{
    @apply grid lg:grid-cols-3 grid-cols-1 place-items-center pb-20 mt-10 
}
.skills-card-section .fa-solid{
    @apply text-5xl
}
.skills-card{
    transform: translateX(-100px);
    transition: 800ms ease;
    opacity: 0;
cursor:pointer;
transition: 300ms ease;
text-align: left;
margin: 20px;
 width: 400px;
 height: 350px;
 border-radius: 30px;
 background: #1e1e1ed0;
 box-shadow: 5px 5px #000000;
 @apply grid col-span-1 pt-15 w-[350px] lg:w-[400px] h-[350px] lg:h-[350px]
}
.skills-card.show{
    transform: translateX(0px);
    transition: 800ms ease;
    opacity: 1;
}
.skills-card-content{
    @apply ml-10 mr-10
}

.custom-glow {
  box-shadow: 0px 0 15px 5px rgba(82, 36, 125, 0.6); 
}
.text-shadow{
    text-shadow: 0 0 15px rgba(82, 36, 125, 0.6);
}





